body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  color: #434455;
  background-color: #fcfcfc;
}
.title {
  color: #ffffff;
}
.list-address {
  list-style-type: none;
}
.list-contacts a {
  color: #434455;
}
.list-contacts li {
  list-style-type: none;
}
.list-navigation {
  color: #2e2f42;
}
.list-address li a {
  color: #2e2f42;
}
a {
  text-decoration: none;
}

.list-address a:hover,
.list-address a:focus {
  color: #404bbf;
}

.bth {
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  text-align: left;
  border: none;
}
.bth:hover,
.bth:focus {
  background-color: #404bbf;
}
.paragraph li {
  list-style-type: none;
}

.card-portfolio {
  list-style-type: none;
}
.figura {
  background-color: #2e2f42;
  text-align: center;
}
.card-people li {
  list-style-type: none;
}
.card-people {
  background-color: #f4f4fd;
}
.title-card {
  text-align: center;
}
